<div class="page-header">
  <%= link_to tickets_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_ticket_path(@ticket), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1><%= @ticket.title %></h1>
</div>

<dl class="dl-horizontal">

  <dt>Category:</dt>
  <dd><%= @ticket.category %></dd>

  <dt>Due date:</dt>
  <dd><%= @ticket.due_date %></dd>

  <br>

  <dt>Description:</dt>
  <dd><%= @ticket.description %></dd>

  <br>

  <dt>Assets:</dt>
  <dd><a target="_blank" href="<%= @ticket.assets %>">Go To Google Drive</a></dd>

  <dt>Specs:</dt>
  <dd><a target="_blank" href="<%= @ticket.specification_document %>">Go To Google Doc</a></dd>

</dl>
